<div class="container">

<table>
  <tbody>
    <tr><td>dossier de :</td><td><div class="large">M .patate</div></td></tr>
    <tr><td>adresse :</td><td>

    </td></tr>
    <tr><td>secteur :</td>
    <td>
    <% Liste.secteur.where(:id => @dossier.secteur).each do |t| %>
          <%= t.nom %>
      <% end %>
    </td></tr>
      <tr><td>commentaires</td><td><%= simple_format @dossier.commentaire %></td></tr>
  </tbody>
</table>
      <p>
      </p>
      commentaires :

      <div class="info">
        <span class="small quiet"> créé le <%= l(@dossier.created_at.to_date) %> - modifié le <%= l(@dossier.updated_at.to_date, :format => :long) %></span>
      </div>
</div>
historique
<hr/>
