Modifier le dossier
<% title @dossier.reference %>
<%= render ('layouts/navigation') %>
<p><%= link_to "retour dossier", @dossier, :class =>'retour' %></p>
<%= render 'form' %>
<p><%= link_to "retour dossier", @dossier, :class =>'retour' %></p>
