<% title "Nouveau Dossier"%>
<h1>Nouveau Dossier</h1>
<p><%= link_to "retour accueil", dossiers_path, :class =>'retour' %></p>
<%= render 'form' %>
<p><%= link_to "retour accueil", dossiers_path, :class =>'retour' %></p>
