<% title @dossier.reference %>
<%= render ('layouts/navigation') %>
<div class="six_column section">
  <div class="five column border">
    <%= render @dossier %>
  </div>
  <div class="aside">
    <div class="container box">
    <ul>
      <li><%= link_to "Modifier le dossier", edit_dossier_path(@dossier), :class =>'link update'%></li>
      <li><%= link_to "Detruire le dossier", @dossier, :confirm => 'certain?', :method => :delete, :class => 'link delete' %></li>
    </ul>


    </div>
  </div>
</div>
