<% title "Gestion des Listes" %>

<p><%= link_to "Ajouter une entrée", new_liste_path %></p>

<table>
  <tr>
    <th>Pour</th>
    <th>Nom</th>
  </tr>
  <% for liste in @listes %>
    <tr>
      <td><%= liste.pour %></td>
      <td><%= liste.nom %></td>
      <td><%= link_to "Modifier", edit_liste_path(liste) %></td>
    </tr>
  <% end %>
</table>

