<div class="fields outline">
      <div class="one column"><%= f.input :type_phone, :collection => Liste.type_phone.all(:order => 'nom'), :label_method => 'nom', :as => :select, :label => 'Téléphone' %></div>
      <div class="four column"><%= f.input :numero %></div>
      <div class="one column center"><%= link_to_remove_fields "effacer", f %></div>
</div>
