<% title "Compteur" %>



<p>
  <%= link_to "Edit", edit_compteur_path(@compteur) %> |
  <%= link_to "Destroy", @compteur, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", compteurs_path %>
</p>
