body {
  background-image: url(../images/fond2.jpg);
  font-family: Verdana, Helvetica, Arial;
}
/*liens*/
a {color: #0000FF;}

/* mise en page*/

#top-menu {background: #2C4056; color: #fff; height:1.8em; font-size: 0.8em; padding: 2px 2px 0px 6px;}
#top-menu ul {margin: 0;  padding: 0;}
#top-menu li {
  float:left;
  list-style-type:none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #fff; }
#account {float:right;}

#main {clear: both;width: 90%;margin: 0 auto;background-color: #FFF;padding: 20px 20px;border: solid 1px black;margin-top: 10px;}
#footer {clear: both;width: 90%;margin: 0 auto;background-color: #FFF;padding: 20px 20px;border: solid 1px black;margin-top: 10px;font-size: 0.9em; padding: 5px 20px; color: #aaa; text-align:center;}

#nav {width: 100%;border-bottom: 1px #ddd solid;}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.odd {
    -moz-border-radius: 1em 1em 1em 1em;
    background-color: white;
    margin-bottom: 20px;
}
.even {
    -moz-border-radius: 1em 1em 1em 1em;
    background-color: #ddd;
    margin-bottom: 20px;
}
.even h2 a {
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-topright: 1em;
    background-color: #222222;
    color: white;
    font-family: Helvetica,Arial,"Droid Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
}
