/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }

body {
  background-color: #4B7399;
  background-image: url(../images/fond2.jpg);
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
a img {
  border: none;
}
a {
  color: #0000FF;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* mise en page*/
#main {
  clear: both;
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 20px;
  border: solid 1px black;
  margin-top: 10px;
}
#main.footer {font-size: 0.9em; padding: 5px 20px; color: #aaa; text-align:center; background:#fff;}

.menu {border-bottom: 1px solid #ddd;}


#top-menu {background: #2C4056; color: #fff; height:1.8em; font-size: 0.8em; padding: 2px 2px 0px 6px;}
#top-menu ul {margin: 0;  padding: 0;}
#top-menu li {
  float:left;
  list-style-type:none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #fff; }
#account {float:right;}

.container{
  padding: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.odd {
    -moz-border-radius: 1em 1em 1em 1em;
    background-color: white;
    margin-bottom: 20px;
}
.even {
    -moz-border-radius: 1em 1em 1em 1em;
    background-color: #ddd;
    margin-bottom: 20px;
}
.even h2 a {
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-topright: 1em;
    background-color: #222222;
    color: white;
    font-family: Helvetica,Arial,"Droid Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
}

/*ecran de login*/
#login_form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}
#login_form input{
  margin: 0 auto;
  font-family: helvetica,Arial,sans-serif;
  font-size:36px;
  font-weight:bold;
}
#login_form label{
  font-size:18px;
  font-weight:bold;
}

/* formulaire simple_form*/

label {
  display: inline;
  width: 70px;
  float: left;
  padding-right: 1%;
  text-align: right;
}
input {
  margin-left: 1%;
  width: 100%;
}
div.boolean, input[type='submit']{
  margin: 0 auto;
}

div.boolean label {
float: none;
margin: 0;
}

fieldset    { padding:0 1.2em; margin: 0 1.2em 1.2em 0; border: 1px solid #ccc; }
legend      { padding:0 1.2em;font-size:0.8em; margin-top:-0.2em; margin-bottom:1em; color: #ccc }

fieldset, #IE8#HACK { padding-top:1.4em; }
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }
/*----------*/
.border {
  border-right: 1px solid #ddd;
}
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}
/* --------------------------------------------------------------

   typography.css from blueprint
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Headings
-------------------------------------------------------------- */


h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin: 0.2em; }
h2 { font-size: 2em; margin: 0.2em; }
h3 { font-size: 1.5em; line-height: 1; margin: 0.2em; }
h4 { font-size: 1.2em; line-height: 1.25; margin: 0.2em; }
h5 { font-size: 1em; font-weight: bold; margin: 0.2em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,h4 img, h5 img, h6 img {  margin: 0;}


/* Text elements
-------------------------------------------------------------- */
p           { margin: 0 0 1em; }
/*
  These can be used to pull an image at the start of a paragraph, so
  that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left       { float: left !important; }
p .left     { margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right      { float: right !important; }
p .right    { margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a:focus,
a:hover     { color: #09f; }
a           { color: #06c; text-decoration: none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong,dfn  { font-weight: bold; }
em,dfn      { font-style: italic; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

/*
  Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 27px, instead of the standard 18px or 36px
  of other elements.
 */
table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
/*
  You can zebra-stripe your tables in outdated browsers by adding
  the class "even" to every other table row.
 */
tbody tr:nth-child(even) td,
tbody tr.even td  {
  background: #e5ecf9;
}
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
