/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms


-------------------------------------------------------------- */

/*
  A special hack is included for IE8 since it does not apply padding
  correctly on fieldsets
 */
form * {list-style: none; border: none;}
form p {margin-top:0; margin-bottom:0;}

label       { font-size:0.7em; display: block;}
fieldset    { padding:0 1em 1em 1em; margin: 1em 0 1em 0; border-top: 1px solid #ddd; }
legend      { font-weight: bold; font-size:0.8em; margin-top:-0.2em; margin-bottom:0.5em;color: #aaa }

fieldset, #IE8#HACK { padding-top:1em; }
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }


/* Form fields
-------------------------------------------------------------- */

/*
  Attribute selectors are used to differentiate the different types
  of input elements, but to support old browsers, you will have to
  add classes for each one. ".title" simply creates a large text
  field, this is purely for looks.
 */


abbr {color: #f00;border: none;}

input.text,input.string,input.numeric, input.boolean {width:100%; padding:5px; }
textarea { width: 100%; height: 100px; padding:5px; font:inherit;}
select {width:92%; padding:4px;}

input[type=text], input[type=password],input[type=checkbox],input.text, input.string, input.numeric, textarea, select {
  background-color:#e5ecf9;  border:1px solid #bbb;}

input.required,textarea.required, select.required {background-color: #f2e6e8;}

input[type=text]:focus, input[type=password]:focus,input[type=checkbox]:focus,input.text:focus,input.numeric:focus,input.string:focus,textarea:focus, select:focus {
  border-color:#666;  background-color: #fff;}
input[type=text], input[type=password],input[type=checkbox],input.text, input.string,input.numeric, textarea, select {margin:2px 0;}

input[type=submit] {font-size:1.2em;background:#235485;color:#fff;}
input[type=submit]:hover {background:#666;}


/*
  This is to be used on forms where a variety of elements are
  placed side-by-side. Use the p tag to denote a line.
 */

div.center {text-align: center; vertical-align: bottom;padding-bottom: 5px;}

.hint {font-size: 0.8em; color: #ccc;}

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,.alert,.notice,.success,.info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info       { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a     { color: #205791; }
