<div class="fields">
    <div class="one column"><%= f.input :section %></div>
    <div class="one column"><%= f.input :numero %></div>
    <div class="one column"><%= f.input :surface %></div>
    <div class="one column center"><%= link_to_remove_fields "effacer", f %></div>
    <div class="two column"></div>
</div>
