<% title @dossier.reference %>
<h2>Modifier un immeuble</h2>
<%= render ('layouts/navigation') %>

<%= render 'form' %>

<p>
  <%= link_to "Show",[@dossier,@immeuble] %> |
  <%= link_to "View All", dossier_immeubles_path %>
</p>
