<% title "créer un Immeuble/terrain"%>
<%= render ('layouts/navigation') %>
<div class="large"><%= @dossier.reference %></div>

<%= render 'form' %>

<p><%= link_to "Retour", dossier_immeubles_path %></p>
